<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>

<body>
    <h1>Suas Tarefas Aqui!</h1>
    <form action="/home" method="GET">
        <button type="submit" class="btnEntrar">Entrar</button>
    </form>
</body>

</html>