<div>
    <form method="post" action="/login">
        <div>
            <input type="email" name="email" placeholder="Email...">
        </div>
        <div>
            <input type="password" name="senha" placeholder="Senha...">
        </div>
        <div>
            <input type="submit" name="login" value="Login">
        </div>
    </form>
</div>
